@inherits LayoutComponentBase
@layout AccountLayout

<h1 style="margin-top: 15px">Configurações de conta</h1>

<div>
    <hr />
      <div class="row" style="margin-top: 20px">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
