@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Você está autenticado</h1>

<AuthorizeView>
    Olá @context.User.Identity?.Name!
</AuthorizeView>
