<div class="card mb-4">
  <div class="card-header">
    <b>@UF</b>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Munícipio:</b> @Municipio</p>
    <p class="card-text"> <b>Código IBGE:</b> @CodigoIBGE</p>
    <a href="https://www.ibge.gov.br/cidades-e-estados/sp/sao-bernardo-do-campo" class="btn btn-primary">Veja mais</a>
  </div>
</div>

@code {
  [Parameter]
  public string? Municipio { get; set; }

  [Parameter]
  public string? UF { get; set; }

  [Parameter]
  public string? CodigoIBGE { get; set; }
}