<div class="card">
  <div class="card-header">
    S찾o Paulo
  </div>
  <div class="card-body">
    <h5 class="card-title">S찾o Paulo</h5>
    <p class="card-text">S찾o Bernardo do Campo</p>
    <p class="card-text">C처digo: 3548708</p>
    <a href="https://www.ibge.gov.br/cidades-e-estados/sp/sao-bernardo-do-campo.html" class="btn btn-primary">Veja mais</a>
  </div>
</div>