@page "/counter"
@inherits desafio.Components.Pages.CounterCode
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<input type="text" @bind-value="_text"/>
<p>@_text</p>

<Teste Name="kevin"/>
<button class="btn btn-primary" @onclick="IncrementCount">ClickS me</button>

