@page "/pesquisa"

<PageTitle>Pesquisar por endereço </PageTitle>

<div class="d-flex flex-column">
    <h1>Pesquisar por endereço: </h1>

    <label for="Cidade">Cidade</label>
    <select name="Cidade" id="pesquisa-cidade"></select>

    <label for="Estado">Estado</label>
    <select name="" id="pesquisa-estado"></select>

    <label for="CodigoIBGE">Código IBGE</label>
    <input id="pesquisa-codigo" type="text" />
</div>